*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(images/background.jpg) center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

:root {
    --dark_bg: rgba(0, 0, 0, 0.5);
}

img {
   width: 150px; 
}

.hidden {
    display: none;
}

.main {
    display: flex;
    height: 70vh;
    width: 90vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: flex-end;
}

.weather_info, .weather_details {
    display: flex;
    flex-direction: column;
    background: var(--dark_bg);
    width: 30vw;
    height: 60vh;
    padding: 20px;
    gap: 20px;
}

.feels_like, .humidity, .pressure, .wind {
    display: flex;
}

i {
    width: 48px;
    margin-right: 2rem;
}

i::before {
    display: flex;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
}

.label {
    font-size: 13px;
    font-weight: 900;
}

